.cta {
  background-color: var(--color-cta);
  color: var(--color-text-on-dark);
  border: none;
  padding: 0.25rem 0.5rem;
  box-shadow: var(--shadow-cta);
  font-family: var(--font-headings);
  cursor: pointer; 
}

.cta-bigger {
  margin-left: 2.5rem;
  padding: 0.5rem 1.25rem;
}