body {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.card-bg {
  background-color: var(--color-card);
  box-shadow: var(--shadow-card);
}


img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.active {
color: var(--color-accent); 
}