body {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 80%;
}

.card-bg {
  background-color: var(--color-card);
  box-shadow: var(--shadow-card);
}
