body {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.card-bg {
  background-color: var(--color-card);
  box-shadow: var(--shadow-card);
}


img {
  max-width: 100%;
  max-height: 100%;
}
