header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../assets/header-compressed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-primary);
}

header h1 {
  color: var(--color-text-on-dark);
  background-color: var(--color-primary);
  display: flex;
  align-self: center;
  padding: 0.5rem;
  margin-bottom: clamp(1rem, 20vh, 4rem);
  box-shadow: 3px 3px 0px 0px var(--color-accent);
  font-family: var(--font-headings);
  font-size: 1rem;
}

.logo {
  height: clamp(2.5rem, 8vw, 5rem);
  width: clamp(2.5rem, 8vw, 5rem);
  margin-top: 1rem;
  margin-left: 1rem;
}

nav {
  display: flex;
  background-color: var(--color-primary);
  border-top: solid var(--color-accent);
}

nav ul {
  display: flex;
  list-style: none;
  padding: 1rem;
  gap: 2rem;
}

nav a {
  color: var(--color-text-on-dark);
  font-family: var(--font-subheadings);
  font-size: 0.75rem;
}

nav a:hover {
  font-weight: bold;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin: 1rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
