/* Welcome banner */

.welcome-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
  background-color: var(--color-primary);
}

.welcome-banner-text {
  display: flex;
  flex-direction: column;
  background-color: var(--color-card);
  max-width: 30rem;
  padding: 1rem;
  border-radius: 2.5rem;
  box-shadow: var(--shadow-inner);
}

.welcome-banner-heading {
  display: flex;
  align-self: center;
  font-family: var(--font-headings);
}

.welcome-banner-p {
  font-family: var(--font-accent);
}

.welcome-banner-logo {
  align-self: flex-end;
}

/* Blog feed */

.blog-feed-section {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.blog-feed-title {
  background-color: var(--color-bg-title);
  border: solid var(--color-accent); 
  padding: 0.5rem 1rem; 
}

.blogfeed {
  display: flex; 
  flex-direction: column;
  align-items: center;
}
 
.post {
  width: clamp(320px, 80%, 900px);
}

.post-subheading {
  display: flex;
  gap: 0.25rem; 
}

.edit-link {
  color: var(--color-text-on-light); 
  align-self: center;
}

.tagsContainer {
  display: flex; 
  flex-wrap: wrap;
  gap: 0.5rem; 
}
.tags {
  background-color: var(--color-bg-title);
  padding: 0.25rem; 
}
