:root {
  --color-bg: #fafaf9;
  --color-primary: #3b2f2f;
  --color-accent: #daa520;
  --color-cta: #800020;
  --color-card: #eae0d5;
  --color-menu-bg: #594d4d;
  --color-text-on-dark: #fff;
  --color-text-on-light: #000;
  --font-headings: "Playfair Display", Georgia, "Times New Roman", Garamond,
    Times, serif;
  --font-subheadings: "Lora", "Merriweather", "Times New Roman",
    "Palatino Linotype", "Book Antiqua", Georgia, serif;
  --font-body: "Open Sans", Arial, Helvetica, Tahoma, sans-serif;
  --font-accent: "Libre Baskerville", Garamond, Georgia, serif;
  --shadow-cta: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --shadow-inner: box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
